# node deps
*/node_modules/
node_modules/

# builds
*/build/
build/

# caches
*/.cache/
.cache/
npm-cache/
.yarn-cache/
.pnpm-store/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os/editor
.DS_Store
.vscode/
.idea/

# env
.env*

# archives
*.zip
